<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:annotation-config />
	<context:component-scan base-package="br.com.hcs.spring.annotation.config" />
	
	<bean id="dataSource" class="br.com.hcs.spring.annotation.config.dao.DataSource">
		<property name="connectionString" value="jdbc:mysql://localhost/db" />
	</bean>
	
	<bean id="dataSourceUsuario" class="br.com.hcs.spring.annotation.config.dao.DataSource">
		<property name="connectionString" value="jdbc:mysql://localhost/users" />
	</bean>
</beans>
